In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Loading ords_prods_merged_newcolumns and creating a new dataframe for the first 10000000 rows.

In [3]:
path = r'C:\Users\marig\OneDrive\√Årea de Trabalho\curso arbeitsamt\data immersion\achievement 4\07.2023.Instacart Basket Analysis\Data\Prepared data'

In [4]:
ords_prods_merge = pd.read_pickle (os.path.join (path, 'orders_products_merged_newcolumns.pkl'))

In [5]:
df = ords_prods_merge [:1000000]

In [6]:
df.shape

(1000000, 19)

In [7]:
df.head (10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest day,busiest days,most orders,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid range product,Regularly busy,Regularly busy,Average orders,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid range product,Busiest day,Busiest days,Average orders,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid range product,Least busy,Slowest days,Average orders,Average orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,Mid range product,Regularly busy,Busiest days,Average orders,Average orders
5,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders
6,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,both,Mid range product,Regularly busy,Slowest days,Most orders,Most orders
7,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,both,Mid range product,Regularly busy,Busiest days,Average orders,Average orders
8,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,both,Mid range product,Regularly busy,Busiest days,Most orders,Most orders
9,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,both,Mid range product,Regularly busy,Slowest days,Most orders,Most orders

# 1.Grouping data with pandas

# 1.1 Using Agg () function

In [8]:
# Grouping the column product name, this is the step 1: Split the data into groups based on some criteria

In [9]:
df.groupby ('product_name')

In [10]:
#Step 2. Aggregating data with agg()  - Aggregation functions create summaries of selected columns and store these 
# summary values in new columns.

In [11]:
# Performing a single aggregation:
# Using the order_number column grouped by the department_id
# 1.Split the data into groups based on ‚Äúdepartment_id.‚Äù
# 2.Apply the agg() function to each group to obtain the mean values for the ‚Äúorder_number‚Äù column.

In [12]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                16.645833
2                17.811388
3                17.490038
4                18.577483
5                16.444540
6                17.785738
7                18.134240
8                15.886037
9                16.558979
10               19.554859
11               16.540736
12               15.491845
13               17.690066
14               18.083510
15               17.417158
16               18.957387
17               17.069618
18               20.758164
19               17.855141
20               17.345317
21               26.109076

In [13]:
#This shows the average number of orders per user for each department ID

In [14]:
# Using  without the agg () function 
df.groupby('department_id')['order_number'].mean()

department_id
1     16.645833
2     17.811388
3     17.490038
4     18.577483
5     16.444540
6     17.785738
7     18.134240
8     15.886037
9     16.558979
10    19.554859
11    16.540736
12    15.491845
13    17.690066
14    18.083510
15    17.417158
16    18.957387
17    17.069618
18    20.758164
19    17.855141
20    17.345317
21    26.109076
Name: order_number, dtype: float64

In [15]:
# Performing Multiple Aggregations

In [16]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                16.645833   2  99
2                17.811388   2  97
3                17.490038   2  99
4                18.577483   2  99
5                16.444540   2  99
6                17.785738   2  99
7                18.134240   2  99
8                15.886037   2  98
9                16.558979   2  99
10               19.554859   2  99
11               16.540736   2  99
12               15.491845   2  99
13               17.690066   2  99
14               18.083510   2  99
15               17.417158   2  99
16               18.957387   2  99
17               17.069618   2  99
18               20.758164   2  99
19               17.855141   2  99
20               17.345317   2  99
21               26.109076   2  98

## 1.2 Aggregating Data with transform()

In [17]:
# Used to create a flag - for example: a loyalty flag
# Flags help target specific groups within your data according to a set of conditions, allowing for segmented analysis.

In [18]:
#locating these loyalty customers at Instacart using the transform () function
# Criteria:
# If the maximum orders > 40, then ‚ÄúLoyal customer.‚Äù
# If the maximum orders > 10 or <= 40, then ‚ÄúRegular customer.‚Äù
# If the maximum <= 10, then  ‚ÄúNew customer.‚Äù

In [19]:
#1. Split the data into groups based on the ‚Äúuser_id‚Äù column.
#2. Apply the transform() function on the ‚Äúorder_number‚Äù column to generate the maximum orders for each user.
#3. Create a new column, ‚Äúmax_order,‚Äù into which you‚Äôll place the results of your aggregation.

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [20]:
# Checking results: 
ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest day,busiest days,most orders,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid range product,Regularly busy,Regularly busy,Average orders,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid range product,Busiest day,Busiest days,Average orders,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid range product,Least busy,Slowest days,Average orders,Average orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,Mid range product,Regularly busy,Busiest days,Average orders,Average orders,26
5,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders,9
6,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,both,Mid range product,Regularly busy,Slowest days,Most orders,Most orders,12
7,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,both,Mid range product,Regularly busy,Busiest days,Average orders,Average orders,20
8,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,both,Mid range product,Regularly busy,Busiest days,Most orders,Most orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,both,Mid range product,Regularly busy,Slowest days,Most orders,Most orders,43
10,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3,1,both,Mid range product,Least busy,Slowest days,Most orders,Most orders,43
11,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4,1,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8,0,both,Mid range product,Regularly busy,Slowest days,Most orders,Most orders,13
13,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,6.0,18,1,both,Mid range product,Regularly busy,Regularly busy,Average orders,Average orders,13
14,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,10.0,12,1,both,Mid range product,Regularly busy,Regularly busy,Average orders,Average orders,13

In [21]:
# The column max order () means the maximum number of orders made by each user ID

In [22]:
ords_prods_merge.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest day,busiest days,most orders,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid range product,Regularly busy,Regularly busy,Average orders,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid range product,Busiest day,Busiest days,Average orders,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid range product,Least busy,Slowest days,Average orders,Average orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,Mid range product,Regularly busy,Busiest days,Average orders,Average orders,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,Chocolate Sandwich Cookies,61,19,5.8,3327927,11934,19,4,16,14.0,13,1,both,Mid range product,Least busy,Slowest days,Average orders,Average orders,20
96,1,Chocolate Sandwich Cookies,61,19,5.8,2960627,12060,12,2,10,11.0,9,0,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders,17
97,1,Chocolate Sandwich Cookies,61,19,5.8,2076862,12060,17,1,13,10.0,8,1,both,Mid range product,Regularly busy,Busiest days,Most orders,Most orders,17
98,1,Chocolate Sandwich Cookies,61,19,5.8,2616185,12455,2,6,10,30.0,3,0,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders,8
99,1,Chocolate Sandwich Cookies,61,19,5.8,446769,12470,64,1,13,7.0,1,0,both,Mid range product,Regularly busy,Busiest days,Most orders,Most orders,71

## 1.3 Deriving Columns with loc()

In [23]:
#Creating a flag that assigns a ‚Äúloyalty‚Äù label to a user ID based on its corresponding max order value

In [24]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [25]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [26]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [27]:
# Frequency of loyalty flag column
ords_prods_merge ['loyalty_flag'].value_counts (dropna = False)

Regular customer    15081691
Loyal customer      10095381
New customer         5151691
Name: loyalty_flag, dtype: int64

In [28]:
# limiting the output to see only the columns that we need.
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             3
4       777  Regular customer            16
5       825      New customer             3
6       910  Regular customer            12
7      1052  Regular customer            10
8      1052  Regular customer            15
9      1480    Loyal customer            36
10     1480    Loyal customer            38
11     1480    Loyal customer            39
12     1494  Regular customer             6
13     1494  Regular customer             7
14     1494  Regular customer             9
15     1540  Regular customer             4
16     1540  Regular customer             5
17     1540  Regular customer             6
18     1540  Regular customer             7
19     1540  Regular customer             8
20     1540  Regular customer             9
21     1540  Regular customer            14
22     1540  Regular customer            15
23     1540  Regular customer            18
24     1540  Regular customer            19
25     1540  Regular customer            20
26     1540  Regular customer            21
27     1540  Regular customer            22
28     1540  Regular customer            24
29     1540  Regular customer            25
30     1540  Regular customer            27
31     1540  Regular customer            28
32     1598      New customer             2
33     1598      New customer             3
34     1647      New customer             4
35     1647      New customer             6
36     1647      New customer             8
37     1647      New customer             9
38     2850  Regular customer             7
39     2857  Regular customer            24
40     3010  Regular customer             5
41     3395      New customer             4
42     4006    Loyal customer             2
43     4006    Loyal customer             3
44     4006    Loyal customer             5
45     4006    Loyal customer             9
46     4006    Loyal customer            12
47     4122  Regular customer            11
48     4141      New customer             2
49     4553      New customer             3
50     4845  Regular customer             6
51     7275      New customer             5
52     7669  Regular customer             3
53     7669  Regular customer             4
54     7669  Regular customer            20
55     7981  Regular customer             9
56     7981  Regular customer            13
57     7981  Regular customer            14
58     7981  Regular customer            24
59     7981  Regular customer            30

# Exercise

In [29]:
#Question 2. In this Exercise, you learned how to find the aggregated mean of the ‚Äúorder_number‚Äù column grouped by ‚Äúdepartment_id‚Äù for a subset of your dataframe. 
#Now, repeat this process for the entire dataframe.

In [30]:
ords_prods_merge.groupby ('product_name')

In [32]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                16.559358
2                18.413176
3                18.279600
4                18.915890
5                16.497751
6                17.609390
7                18.303975
8                16.383301
9                17.022963
10               21.227447
11               17.311768
12               16.953613
13               17.727470
14               17.898097
15               17.290123
16               18.757796
17               16.808683
18               20.336389
19               18.258620
20               17.578959
21               23.644477

In [34]:
# Question 3. How do the results for the entire dataframe differ from those of the subset? 
# There are some departments with different mean values. This happens because the number of values analysed is bigger with the 
# whole dataframe and because of that the mean value suffer alterations.

In [34]:
# Question 4. It was made in the first topics from the class. Look topic 1.2 and 1.3.

# Question 5. Calculating the mean values for the loyalty flag:

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.402162
New customer      13.396333
Regular customer  12.546842

In [35]:
# Question 6.Create a spending flag for each user based on the average price across all their orders using the following criteria:

#Creating a flag that assigns a ‚Äúloyalty‚Äù label to a user ID based on its corresponding price value

# First it is necessary to create a new column with the price means by customer.

In [36]:
ords_prods_merge['prices_mean_user'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [37]:
ords_prods_merge.head (15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,_merge,price_range_loc,busiest day,busiest days,most orders,busiest_period_of_day,max_order,loyalty_flag,prices_mean_user
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders,32,Regular customer,6.769286
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,both,Mid range product,Regularly busy,Regularly busy,Average orders,Average orders,32,Regular customer,6.769286
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,both,Mid range product,Busiest day,Busiest days,Average orders,Average orders,5,New customer,8.071613
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,both,Mid range product,Least busy,Slowest days,Average orders,Average orders,3,New customer,4.864103
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,0,both,Mid range product,Regularly busy,Busiest days,Average orders,Average orders,26,Regular customer,6.906422
5,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,0,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders,9,New customer,6.086667
6,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,0,both,Mid range product,Regularly busy,Slowest days,Most orders,Most orders,12,Regular customer,6.800000
7,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,0,both,Mid range product,Regularly busy,Busiest days,Average orders,Average orders,20,Regular customer,7.019149
8,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,1,both,Mid range product,Regularly busy,Busiest days,Most orders,Most orders,20,Regular customer,7.019149
9,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,0,both,Mid range product,Regularly busy,Slowest days,Most orders,Most orders,43,Loyal customer,5.133684
10,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,1,both,Mid range product,Least busy,Slowest days,Most orders,Most orders,43,Loyal customer,5.133684
11,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,1,both,Mid range product,Regularly busy,Regularly busy,Most orders,Most orders,43,Loyal customer,5.133684
12,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,0,both,Mid range product,Regularly busy,Slowest days,Most orders,Most orders,13,Regular customer,6.622388
13,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,...,1,both,Mid range product,Regularly busy,Regularly busy,Average orders,Average orders,13,Regular customer,6.622388
14,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,...,1,both,Mid range product,Regularly busy,Regularly busy,Average orders,Average orders,13,Regular customer,6.622388

In [38]:
# Making the flags with the loc function.
ords_prods_merge.loc[ords_prods_merge['prices_mean_user'] < 10, 'price_flag'] = 'Low Spender'

In [39]:
ords_prods_merge.loc[ords_prods_merge['prices_mean_user'] >= 10, 'price_flag'] = 'High Spender'

In [40]:
# Frequency of the price flag column
ords_prods_merge ['price_flag'].value_counts (dropna = False)

Low Spender     29730505
High Spender      598258
Name: price_flag, dtype: int64

In [41]:
#Looking if everything is right.
ords_prods_merge[['user_id', 'price_flag']].head(60)

    user_id   price_flag
0       138  Low Spender
1       138  Low Spender
2       709  Low Spender
3       764  Low Spender
4       777  Low Spender
5       825  Low Spender
6       910  Low Spender
7      1052  Low Spender
8      1052  Low Spender
9      1480  Low Spender
10     1480  Low Spender
11     1480  Low Spender
12     1494  Low Spender
13     1494  Low Spender
14     1494  Low Spender
15     1540  Low Spender
16     1540  Low Spender
17     1540  Low Spender
18     1540  Low Spender
19     1540  Low Spender
20     1540  Low Spender
21     1540  Low Spender
22     1540  Low Spender
23     1540  Low Spender
24     1540  Low Spender
25     1540  Low Spender
26     1540  Low Spender
27     1540  Low Spender
28     1540  Low Spender
29     1540  Low Spender
30     1540  Low Spender
31     1540  Low Spender
32     1598  Low Spender
33     1598  Low Spender
34     1647  Low Spender
35     1647  Low Spender
36     1647  Low Spender
37     1647  Low Spender
38     2850  Low Spender
39     2857  Low Spender
40     3010  Low Spender
41     3395  Low Spender
42     4006  Low Spender
43     4006  Low Spender
44     4006  Low Spender
45     4006  Low Spender
46     4006  Low Spender
47     4122  Low Spender
48     4141  Low Spender
49     4553  Low Spender
50     4845  Low Spender
51     7275  Low Spender
52     7669  Low Spender
53     7669  Low Spender
54     7669  Low Spender
55     7981  Low Spender
56     7981  Low Spender
57     7981  Low Spender
58     7981  Low Spender
59     7981  Low Spender

In [ ]:
# Question 7. Create an order frequency flag that marks the regularity of a user‚Äôs ordering behavior

In [44]:
# First it is necessary to create a new column with the median in the ‚Äúdays_since_prior_order‚Äù by customer.
ords_prods_merge['user_median_days_since_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [45]:
ords_prods_merge.head (15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,busiest day,busiest days,most orders,busiest_period_of_day,max_order,loyalty_flag,prices_mean_user,price_flag,user_median_days_order,user_median_days_since_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Regularly busy,Regularly busy,Most orders,Most orders,32,Regular customer,6.769286,Low Spender,8.0,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Regularly busy,Regularly busy,Average orders,Average orders,32,Regular customer,6.769286,Low Spender,8.0,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Busiest day,Busiest days,Average orders,Average orders,5,New customer,8.071613,Low Spender,8.0,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Least busy,Slowest days,Average orders,Average orders,3,New customer,4.864103,Low Spender,9.0,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,Regularly busy,Busiest days,Average orders,Average orders,26,Regular customer,6.906422,Low Spender,11.0,11.0
5,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,Regularly busy,Regularly busy,Most orders,Most orders,9,New customer,6.086667,Low Spender,20.0,20.0
6,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,Regularly busy,Slowest days,Most orders,Most orders,12,Regular customer,6.800000,Low Spender,6.0,6.0
7,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,Regularly busy,Busiest days,Average orders,Average orders,20,Regular customer,7.019149,Low Spender,10.0,10.0
8,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,Regularly busy,Busiest days,Most orders,Most orders,20,Regular customer,7.019149,Low Spender,10.0,10.0
9,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,Regularly busy,Slowest days,Most orders,Most orders,43,Loyal customer,5.133684,Low Spender,7.0,7.0
10,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,Least busy,Slowest days,Most orders,Most orders,43,Loyal customer,5.133684,Low Spender,7.0,7.0
11,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,Regularly busy,Regularly busy,Most orders,Most orders,43,Loyal customer,5.133684,Low Spender,7.0,7.0
12,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,Regularly busy,Slowest days,Most orders,Most orders,13,Regular customer,6.622388,Low Spender,7.0,7.0
13,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,...,Regularly busy,Regularly busy,Average orders,Average orders,13,Regular customer,6.622388,Low Spender,7.0,7.0
14,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,...,Regularly busy,Regularly busy,Average orders,Average orders,13,Regular customer,6.622388,Low Spender,7.0,7.0

In [46]:
# Making the flags with the loc function.
ords_prods_merge.loc[ords_prods_merge['user_median_days_since_order'] > 20, 'mediandays_flag'] = 'Non-frequent customer'

In [47]:
ords_prods_merge.loc[(ords_prods_merge['user_median_days_since_order'] <= 20) & (ords_prods_merge ['user_median_days_since_order'] > 10), 'mediandays_flag'] = 'Regular customer'

In [49]:
ords_prods_merge.loc[ords_prods_merge['user_median_days_since_order'] <= 10, 'mediandays_flag'] = 'Frequent customer'

In [50]:
# Frequency of the price flag column
ords_prods_merge ['mediandays_flag'].value_counts (dropna = False)

Frequent customer        27269832
Non-frequent customer     3058931
Name: mediandays_flag, dtype: int64

In [51]:
#Looking if everything is right.
ords_prods_merge[['user_id', 'mediandays_flag']].head(30)

    user_id    mediandays_flag
0       138  Frequent customer
1       138  Frequent customer
2       709  Frequent customer
3       764  Frequent customer
4       777  Frequent customer
5       825  Frequent customer
6       910  Frequent customer
7      1052  Frequent customer
8      1052  Frequent customer
9      1480  Frequent customer
10     1480  Frequent customer
11     1480  Frequent customer
12     1494  Frequent customer
13     1494  Frequent customer
14     1494  Frequent customer
15     1540  Frequent customer
16     1540  Frequent customer
17     1540  Frequent customer
18     1540  Frequent customer
19     1540  Frequent customer
20     1540  Frequent customer
21     1540  Frequent customer
22     1540  Frequent customer
23     1540  Frequent customer
24     1540  Frequent customer
25     1540  Frequent customer
26     1540  Frequent customer
27     1540  Frequent customer
28     1540  Frequent customer
29     1540  Frequent customer

In [52]:
# Exporting as a Pkl
ords_prods_merge.to_pickle(os.path.join(path, 'orders_products_merge_latest_version.pkl'))